<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="img/logo/01. Icon Uniqty 1.png" type="image/png" sizes="16x16">
	<title>Conecworld</title>

	<!-- CSS -->
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="css/material-icons.css">
    <link rel="stylesheet" href="css/select2.min.css">

	<link rel="stylesheet" href="css/homepage-styles.css">
    <link rel="stylesheet" href="css/profile-styles.css">
    <link rel="stylesheet" href="css/login-register-styles.css">
    <link rel="stylesheet" href="css/cash-point.css">

	<!-- plugin -->
	<link rel="stylesheet" href="css/jquery-ui.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">


	<!-- End CSS -->
	
	<!-- JS -->
	<!-- plugin -->
	<script src="js/jquery.min.js"></script>
	<script src="js/tb-modal.js"></script>
	<script src="js/select2.min.js"></script>
    <script src="js/bxslider.js"></script>
	<script src="js/jquery-ui.js"></script>
	<!-- End JS -->
	
</head>
<body>
	